.product-card {
	display: flex;
}

.grid > .product-list {
	justify-content: space-between;
}

.product-info > h4 {
	white-space: pre-line;
}

.grid > .product-list > a > .product-card {
	margin: 2%;
  flex: 1 16%;
	width: 300px;
	height: 300px;
	flex-direction: column;
	padding: 1%;
	text-align: center;
}

.grid > .product-list > a > .product-card > .product-info {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid > .product-list > a > .product-card > img {
	display: flex;
	align-self: center;
  width: 200px;
	height: 200px;
}

@media (max-width: 920px) {
  .grid > .product-list > a > .product-card {
    flex: 1 21%;
  }
}

@media (max-width: 600px) {
  .grid > .product-list > a > .product-card {
    flex: 1 46%;
  }
}

.list > .product-list > a > .product-card:first-child {
	margin-top: 2em;
}

.list > .product-list > a > .product-card {
	height: 7em;
	width: 100%;
	margin-bottom: 3%;
	max-width: 800px;
	align-self: center;
}

.list > .product-list > a > .product-card > .product-info {
	margin: auto 1.2em;
}

.list > .product-list > a > .product-card > img {
	width: 125px;
}
